.navbar {
    font-family: sans-serif;
    background-color: black;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
  }
  